@font-face{     /* Fuente utilizada para pagina*/
  font-family: "Dancing Script";
  src: url("DancingScript-Regular.otf");
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: "Dancing Script";
  background-color: #02010a;
}

.contenido{  /*Parametros de encuadre*/
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.cabecera{  /* propiedades del header*/
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; /* Para Mozilla*/
  -webkit-border-radius: 10px 10px 0 0; /* Para safari*/
  color: white;
  width:100%;
  height:100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: slidein 2.5s;
}
.cabecera h1{ /*Propiedades del nombre de pagina*/
  text-shadow: 2px 0  #02010a;
  font-size: 30px;
  padding-right: 15%
}
.cabecera nav{ /* Propiedades de textos de enlace*/
  font-size: 17px;
  padding-left: 10%;
}
nav a{
  color: white;
  padding-right: 35px;
  text-decoration: underline;
}

/* Eliminacion de subrayado en pagina actual*/
.inicio{text-decoration: none;}
.paisajes{text-decoration: none;}
.retratos{text-decoration: none;}

.principal{ /*Propiedades de caja para imagen principal*/
  background-color: #82c3a6;
  width: 100%;
  height: 450px;
}
.principal img{ /*Propiedades de imagen principal*/
  box-shadow: 2px 2px #02010a;
  width: 75%;
  margin: 5%;
}

.Secundaria{ /*Propiedades de caja para imagenes secundarias*/
  background-color:  #d5c75f;
  border: 1px;
  width: 100%;
  height: 325px;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  align-items: center;
}

.Secundaria img{box-shadow: 2px 2px #02010a;}
.Secundaria #caja1{
  width:50%;
  text-align: center;}
.Secundaria #izquierda{width: 85%;}
.Secundaria #izquierda:hover{ /*Propiedades de transformacion, rotacion a 10 grados*/
  transform: rotate(10deg);
  box-shadow:  2px 2px #82c3a6;
}

.Secundaria #caja2{
  width:50%;
  text-align: center;}
.Secundaria #derecha{width: 75%;}
.Secundaria #derecha:hover{ /*Propiedades de transformacion, traslacion a 5px hacia arriba y 20px a la derecha*/
  transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
}

.Secundaria a{
  color: black;
  text-decoration: underline;
}

footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px; /* Para Mozilla*/
  -webkit-border-radius: 0 0 10px 10px; /* Para safari*/
  width: 100%;
  height: 175px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
} /*Propiedades de caja para pie de pagina*/
/*Propiedades de organizacion*/
footer .Contacto{
  width: 25%;
  text-align: center;
}
footer .Terminos{
  width: 25%;
  text-align: center;
}

/*Organizacion de imagenes de redes*/
footer .Redes{
  width: 25%;
  height: 125px;
  text-align: center;
}
.redes .caja3{
  width: 35%;
  height: 20px;
}
.Redes #facebook{
  width: 12%;
  height: 20px;
}
.Redes #Red1{
  width: 75%;
}
.redes .caja4{
  width: 35%;
  height: 2px;
}
.Redes #twitter{
  width: 12%;
  height: 20px;
}
.Redes #Red2{
  width: 95%;
}
.redes .caja5{
  width: 35%;
  height: 20px;
}
.Redes #instagram{
  width: 12%;
  height: 20px;
}
.Redes #Red3{
  width: 75%;
}
.Redes a{
  color: black;
  text-decoration: none;
}

footer .Derechos{
  width: 25%;
  text-align: center;
}

.galeria{ /*Propiedades de caja para imagenes de paisajes y retratos*/
  background-color:  #d5c75f;
  border: 1px;
  width: 100%;
  height: 375px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

/*Propiedades de filtros y organizacion de imagenes*/

.galeria .imagen1{
  width: 33%;
  text-align: center;
}
.galeria #blur{
  width: 85%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.galeria .imagen2{
  width: 33%;
  text-align: center;
}
.galeria #gris1{
  width: 85%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%,);
}
.galeria .imagen3{
  width: 33%;
  text-align: center;
}
.galeria #sepia{
  width: 85%;
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}
.galeria .imagen4{
  width: 33%;
  text-align: center;
}
.galeria #gris2{
  width: 85%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%,);
}
.galeria .imagen5{
  width: 33%;
  text-align: center;
}
.galeria #normal{
  width: 85%;
}
.galeria .imagen6{
  width: 33%;
  text-align: center;
}
.galeria #gris3{
  width: 85%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%,);
}

/*Organizacion de media querie*/
@media screen and (max-width: 899px) { /*para movil*/
  .contenido {
    width: 100%;
  }

  .cabecera{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cabecera h1{
    padding-right: 0;
  }
  .cabecera nav{
    padding-left: 0;
  }

/*Propiedades de imagen principal*/
  .principal{
    width: 100%;
  }
  .principal img{
    margin: 45px;
    height: 350px;
  }

/*Propiedades de imagenes secundarias*/
  .Secundaria{
    height:550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .Secundaria #caja1{
    width: 100%;
    height: 250px;
    padding: 25px;
  }
  .Secundaria #caja2{
    width: 100%;
    height: 250px;
  }

/*Propiedades de imagenes de Paisajes y Retratos*/
  .galeria{
    width: 100%;
    height: 2300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .galeria .imagen1{
    width: 55%;
    height: 150px;
    margin-top: -75px;
  }
  .galeria .imagen2{
    width: 55%;
    height: 150px;
  }
  .galeria .imagen3{
    width: 55%;
    height: 150px;
  }
  .galeria .imagen4{
    width: 55%;
    height: 150px;
  }
  .galeria .imagen5{
    width: 55%;
    height: 150px;
  }
  .galeria .imagen6{
    width: 55%;
    height: 150px;
  }


/*Propiedades de footer*/
  footer{
    width:100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  footer .Contacto{
    height:100px;
    text-align: left;
    margin-top: -25px;
  }
  footer .Terminos{
    height:100px;
    text-align: left;
    margin-top: -75px;
  }
  footer .Redes{
    height:100px;
    text-align: left;
    margin-top: -100px;
  }
  footer .Redes div{
    height: 35px;
  }
  footer .Derechos{
    height:100px;
    text-align: left;
    margin-top: -25px;

  }

@media screen and (min-width: 900px) { /*para desktop*/
  .contenido {
    width: 900px;
  }
  .Secundaria{
    display: flex;
    flex-direction: row;
  }
  .galeria{
    display: flex;
    flex-direction: row;
  }
}

@-webkit-keyframes slidein{ /*Propiedades para animacion de header*/
  0%{
    margin-top: 150%;
    }
  60%{
    margin-top: -5%
  }
  100%{
    margin-top: 0%
  }
  }
